body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#1fc8db), to(#2cb5e8)) fixed;
}

.wrap {
  margin: 0 auto;
  width: 85%;
  text-align: center;
}

.grid-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
}

.col {
  margin-bottom: 5px;
  margin-left: 5px;
}

.col-1 {
  width: 100%;
}

.col-2 {
  width: calc(50% - 5px);
}

.col-3 {
  width: calc(33.33% - 5px);
}

.col-4 {
  width: calc(25% - 5px);
}

.col-5 {
  width: calc(20% - 5px);
}

.col-6 {
  width: calc(16.667% - 5px);
}

.col-7 {
  width: calc(14.28% - 5px);
}

.col-8 {
  width: calc(12.5% - 5px);
}

.col-9 {
  width: calc(11.11% - 5px);
}

.col-10 {
  width: calc(10% - 5px);
}

.col-11 {
  width: calc(9.09% - 5px);
}

.col-12 {
  width: calc(8.33% - 5px);
}



.place-temp {
  width: 300px;
  height: 300px;
  background: rgb(41, 41, 41);
  color: #fff;
  padding: 20px;
}

.place-temp span {
  font-size: 80px;
  text-align: center;
  display: block;
  font-weight: 300;
  color: rgb(255, 255, 255);
  padding: 20px 0 0;
}

.place-temp p {
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  display: block;
}

.conditions {
  width: 300px;
  height: 300px;
  background: #fff;
  color: #000;
  padding: 20px;
  margin-bottom: 50px;
}

.conditions span {
  font-size: 40px;
  text-align: center;
  display: block;
  font-weight: 300;
  color: #000;
  padding: 20px 0 0;
}

.conditions p {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  display: block;
}

label {
  display: block;
  padding-top: 20px;
  text-align: center;
}
input {
  width: 200px;
  padding: 10px 20px;
  background: none;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  font-size: 28px;
  outline: none;
  color: #4A4A4A;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-overflow: ellipsis;
}
input:focus {
  width: 400px;
}
input:focus + .label-txt {
  font-size: 13px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #9B9B9B;
}
input:focus + .label-txt {
  font-size: 13px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}
input:not(:placeholder-shown) + .label-txt {
  font-size: 13px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.label-txt {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

button {
  margin-top: 10px;
  width: 340px;
  height: 40px;
  border: none;
  margin-bottom: 30px;
  background: #1ab97b;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background: #107950;
  border-radius: 10px;
  color: white;
}
.error{
  width: 100%;
  height: 100px;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.margin{
  margin-left: 140px;
}

@media (max-width: 770px) {
  .col {
    width: 100%;
  }
  .margin{
    margin-left: 150px;
  }
}
@media (max-width: 380px) {
  .margin{
    margin-left: 0px;
  }
}
